#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#infoPersonaje {
    width: 30%;
    /* Establece el ancho de cada tarjeta */
    margin-bottom: 20px;
    /* Agrega espacio entre las tarjetas */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #888;
    /* Agrega una sombra a las tarjetas */
}

#infoPersonaje img {
    max-width: 100%;
    /* Asegura que las imágenes se ajusten al ancho de la tarjeta */
    height: auto;
    /* Ajusta automáticamente la altura según el ancho */
    margin-top: 10px;
    /* Agrega espacio entre la imagen y el texto */
}